*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #800080;
}
h1 {
  color: white;
}
h2{
  color: #ED2E2E;
  
}

.main{
  width: 100%;
  width: 530vw;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  gap: 10px;
}
.fantasia {
  margin: 5px;
  background-color: yellow;
  padding: 5px;
  border-radius: 15px;
}
.fantasia img{
  width: 200px;
  height: 200px;
}
.footer{
  background-color: black;
  border: solid;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fantasiaFooter img{
  width: 25vh;
  height: auto;
}